
.grid-problemas {
  display: flex;
  min-height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.problema-item {
  will-change: transform;
  opacity: 0;
  animation-name: fadeIn;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
  animation-fill-mode: both;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  /*clip-path: polygon(
    50% 0%,
    96.3% 20%,
    96.3% 67%,
    50% 88%,
    4.7% 68%,
    4.7% 20%
  );*/
}

.problema-item:hover {
  transform: scale(1.05);
  z-index: 2;
}

.problema-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  text-decoration: none;
}
  
.problema-img {
  object-fit: cover;
  display: block;
  clip-path: inherit;
}

.overlay-num {
  position: absolute;
  min-height: 2rem;
  background-color: #ffffffcf;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.problema-link:hover .overlay-num {
  opacity: 1;
}
  
.btn-cap1 { background-color: #3b4cc0 !important; }
.btn-cap2 { background-color: #994635 !important; }
.btn-cap3 { background-color: #4caf50 !important; }
.btn-cap4 { background-color: #2ca8a8 !important; }
.btn-cap5 { background-color: #9c27b0 !important; }
.btn-cap6 { background-color: #9e9d24 !important; }
.btn-cap7 { background-color: #ff9800 !important; }
.btn-cap8 { background-color: #f44336 !important; }
.btn-cap9 { background-color: #8d6e63 !important; }

.barra-problemas button:hover {
  opacity: 0.9;
}